.custom-select {
    position: relative;
    width: 100%;
    background-color: white;
    /* border: 1px solid #d1d5db; */
    border: 1px solid var(--border-primary-gray);
    border-radius: 4px; /* Tailwind's rounded-sm */
    cursor: pointer;
    font-size: 12px; /* Tailwind's text-sm */
    font-weight: 400; /* Tailwind's font-medium */
    /* padding: 12px; Tailwind's py-3 px-3 */
    color: var(--text-primary);
  }
  
  .custom-select select {
    display: none;
  }
  
  .select-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 11px 12px;
    font-size: 12px;
    color: #4b5563; /* Tailwind's text-gray-600 */
    cursor: pointer;
  }
  
  .select-selected:after {
    content: "";
    position: absolute;
    top: 18px;
    right: 12px;
    width: 10px;
    height: 10px;
    /* border: 2.5px solid transparent; */
    background: url("/Images/dropdwon-arrow.svg");
    background-repeat: no-repeat;
  }
  
  .select-selected.select-arrow-active:after {
    top: 12px;
    transform: rotate(180deg);

  }
  
  .select-items {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #d1d5db; /* Tailwind's border-gray-300 */
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Tailwind's shadow-md */
  }
  
  .select-items div {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;

  }
  
  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.05); /* Tailwind's hover:bg-gray-100 */
  }
  
  .select-hide {
    display: none;
  }


.custom-select label {
    position: absolute;
    top: 12px;
    left: 8px;
    background: white;
    padding: 0 4px;
    font-size: 12px;
    color: #6b7280;
    transition: all 0.2s ease-in-out;
  }
  
label:has(~ .select-items:not(.select-hide)), .custom-select>select.input ~ label {
    top: -10px;
    left: 8px;
    background: white;
    padding: 0 4px;
    font-size: 12px;
  }
  