<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/dashbord.css">
    <link rel="stylesheet" href="./css/style-compliled.css">
</head>
<body>
    <header
    class="flex fixed border-b border-[#80808066] top-0 w-full bg-white container-shadow z-50 px-7 ps-2 md:ps-5 py-2 min-h-[56px]">
    <nav class="w-full flex items-center">
        <!-- Search Input (Centered) -->
        <button id="openMobileSidebar"
            class="md:hidden text-xl focus:outline-none flex pr-2 cursor-pointer">&#9776;</button>

        <div class="flex-1 flex justify-center">
            <div class="w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-[425px]">

                <div class="flex items-center w-full text-md rounded-xs
                border border-[#a0a0a780] h-8 p-2">

                    <span class="cursor-pointer text-xl flex items-center justify-center h-full">
                        <img src="Images/search-icon.svg" alt="search-icon">
                    </span>
                    <input class="border-none outline-none bg-transparent w-full text-base px-2 text-sm"
                        type="text" placeholder="Search by client, events, user name" value="">
                </div>
            </div>
        </div>

        <!-- Icons & Profile Image (Right Side) -->
        <div class="flex items-center space-x-2 md:space-x-4">
            <div class="ps-2 md:ps-0 relative">
                <img src="./Images/notification.svg" alt="Notification" id="notification-icon"
                    class="cursor-pointer">
                <div id="notification-popup"
                    class="hidden absolute top-10 right-0 bg-white text-black shadow-lg border border-[#EBEBE6] rounded-lg p-4"
                    style="min-width: 180px;">
                    <div class="text-sm font-medium leading-[17px]">Notifications</div>

                    <ul class="mt-2 space-y-2 flex flex-col gap-2">
                        <li class="text-xs items-center space-x-2">
                            <span class="text-sm block">New Messages</span>
                            <span class="text-xs text-gray-500">new unread
                                messages.</span>
                        </li>
                        <li class="text-xs items-center space-x-2">
                            <span class="text-sm block">New Alerts</span>
                            <span class="text-xs text-gray-500">new system alerts.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="h-[24px] w-[24px]">
                <img src="./Images/person.jpg" class="h-full w-full rounded-full" alt="Profile">
            </div>
        </div>
        <!-- Notification Popup -->

    </nav>
</header>
</body>
<script src="./javascript/notificationPopup.js"></script>
<script src="./javascript/sidebar.js"></script>
</html>